html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

h1 {
  color: #3f1622;
  font-style: normal;
}

nav {
  color: #8f2440;
  font-weight: bolder;
  font-style: normal;
  list-style-type: none;
}


ul {
  list-style: none;
}

h2 {
  color: #3f1622;
}

.fact {
  color: #222;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
}

blockquote {
  color: #222;
  font-family: 'PT Serif', serif;
  font-size: 1.125rem;
}

footer cite {
  font-size: 0.8rem;
}

a {
  color: #8f2440;
}
