html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

h1 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
}

nav {
  color: #8f2440;
  font-weight: normal;
  font-style: normal;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

ol {
  list-style: none;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
}

ul {
  list-style-type: none;
}

h2 {
  color: #3f1622;
}

.fact {
  color: #222;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
}

blockquote {
  color: #222;
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
}

footer cite {
  font-size: .8rem;
}

a {
  color: #8f2440;
  text-decoration: underline;
}

figcaption {
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
}

img {
  width: 100%;
}
